.PoolConnect_box{
    background-color: #1E1E1E;
    padding: 1rem 2rem;
    border-radius: .5rem;
}

.PoolConnect_box_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PoolConnect_box_header h2{
    font-size: 2rem;
}

.PoolConnect_box_header p{
    background-color: #CFF80B;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: #1E1E1E;
    font-weight: 700;
    cursor: pointer;
}

.PoolConnect_box_Middle{
    text-align: center;
}

.PoolConnect_box_Middle button{
    background-color: #CFF80B;
    color: #1E1E1E;
    border: 0;
    font-size: 1.5rem;
    font-weight: 500;
    padding: .5rem 3rem;
    border-radius: 4rem;
    cursor: pointer;
    margin-top: .5rem;
}

.PoolConnect_box_info{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1rem;
    line-height: 0;
    margin-top: 2rem;
}

.PoolConnect_box_info_right,
.PoolConnect_box_info_left{
    border: 1px solid #CFF80B;
    padding: .5rem;
    border-radius: .5rem;
}
